:root {
  --primary-color: #ffffff; 
  --secondary-color: #055e64;
  --third-color: #444444;
  --text-color: #000000;
  --button-color: #8e2cb2;
  --accent-color: #bbbbbb;
}

body, html {
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, sans-serif;
}

a {
  font-weight: 400;
  color: var(--text-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--secondary-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
