:root {
  --home-color:#2ab4be ;
  --primary-color: #ffffff; 
  --secondary-color: #055e64;
  --third-color: #444444;
  --text-color: #000000;
  --button-color: #8e2cb2;
  --accent-color: #bbbbbb;
}

body, html {
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

:root {
  line-height: 1.5;
  font-weight: 100;
  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

a {
  font-weight: 200;
  color: var(--text-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--secondary-color);
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
}