.message {
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    max-width: max-content;
    position: relative;
    display: flex;
    flex-direction: row;
    
  }
  
  .message.user {
    background-color: #007bff;
    color: #ffffff;
    align-self: flex-start ;
  }
  
  .message.receiver {
    background-color: #f1f1f1;
    color: #333333;
    align-self: flex-start;
  }
  
  .message .text {
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .message-info {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    color: #888888;
    margin-top: 5px;
  }
  
 
  
  .timestamp {
    margin-left: 10px;
  }
  
  .message::after {
    content: "";
    position: absolute;
    border: 10px solid transparent;
  }
  
  .message.user::after {
    border-left: 10px solid #007bff;
    bottom: 0;
    right: -10px;
  }
  
  .message.receiver::after {
    border-right: 10px solid #f1f1f1;
    bottom: 0;
    left: -10px;
  }
  