.nav-link{
    font-weight: bold;
  }

.select-field {
    border: none;
    border-bottom: 1px solid #ccc; /* This creates the line under the select */
    outline: none; /* Remove default focus outline */
    -webkit-appearance: none; /* Remove default arrow */
    -moz-appearance: none;
    appearance: none;
    background: transparent; /* Transparent background */
    font-weight: bold;
}

.select-field:focus {
    border-color: #5d80a1; /* Change border color when select is focused */
}