.room {
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    max-width: 75%;
    position: relative;

    
  }
  
  .room.user {
    background-color: #007bff;
    color: #ffffff;
    align-self: flex-end !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .room.receiver {
    background-color: #f1f1f1;
    color: #333333;
    align-self: flex-start;
  }
  
  .room .text {
    margin: 0;
    padding: 0;
  }
  
  .room-info {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    color: #888888;
    margin-top: 5px;
  }
  
 
  
  .timestamp {
    margin-left: 10px;
  }
  
  .room::after {
    content: "";
    position: absolute;
    border: 10px solid transparent;
  }
  
  .room.user::after {
    border-left: 10px solid #007bff;
    bottom: 0;
    right: -10px;
  }
  
  .room.receiver::after {
    border-right: 10px solid #f1f1f1;
    bottom: 0;
    left: -10px;
  }
  button{
    width: 10%;
    background-color: transparent;
    border:none;
  }