.root{
    margin: auto;
    background-color: #f0f0f0;
}

.account-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.account-form {
    background-color: #000;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.role-selector {
    display: flex;
}

.role-selector button {
    flex: 1;
    padding: 10px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.role-selector .active {
    background-color: #444;
    color: #fff;
}

.account-form input {
    width: 80%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    text-align: center
}

.create-account-btn {
    width: 80%;
    padding: 10px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-link {
    margin-top: 10px;
}

.login-link a {
    color: #fff;
    text-decoration: underline;
}

.terms {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
}

.terms a {
    color: #fff;
    text-decoration: underline;
}


@media (max-width: 600px) {
    .account-form {
        padding: 10px;
    }

    .role-selector button {
        margin: 0 2px;
        padding: 5px;
    }

    .account-form input, .create-account-btn {
        padding: 5px;
    }
}

.success-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: fadeInOut 4s forwards;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    10% {
      opacity: 1;
      transform: translateY(0);
    }
    90% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(20px);
    }
  }
