

.account-form-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

h2{
    color: var(--text-color);
}

.account-form-container h2 {
    margin-bottom: 20px;
    color: var(--text-color);
}

.account-form {
    background-color: var(--third-color);
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.role-selector {
    display: flex;
    margin-bottom: 20px;
}

.role-selector button {
    flex: 1;
    padding: 10px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #222;
    color: var(--primary-color);
    transition: background-color 0.3s;
}

.role-selector button:hover {
    background-color: var(--third-color);
}

.role-selector .active {
    background-color: #444;
    color: var(--secondary-color);
}

.account-form input {
    width: 80%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    background-color: #222;
    color: #fff;
    transition: background-color 0.3s;
}

.account-form input:hover {
    background-color: #333;
}

.create-account-btn {
    width: 80%;
    padding: 10px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.create-account-btn:hover {
    background-color: #444;
    color: #fff;
}

.login-link {
    margin-top: 10px;
}

.login-link a {
    color: #fff;
    text-decoration: underline;
}

.terms {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
}

.terms a {
    color: #fff;
    text-decoration: underline;
}

.success-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4caf50;
    color: var(--third-color);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: fadeInOut 4s forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

.file-input-container {
    width: 80%; /* Ensure the container takes full width */
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse; /* Center the items horizontally */
}

.file-input-label {
    width: auto; /* Let it adjust based on content */
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: small;
    text-align: center;
    background-color: #222;
    color: #fff;
    transition: background-color 0.3s;
    cursor: pointer;
    margin-left: 10px; /* Add some space between the input and the button */
}

.file-input-label:hover {
    background-color: #333;
}

.file-input {
    display: none; /* Hide the default file input */
}

.file-input-text {
    flex-grow: 1; /* Allow the text input to take available space */
    padding: 10px;
    margin-bottom: 0;
    border: none;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
    text-align: left;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .account-form {
        padding: 10px;
    }

    .role-selector button {
        margin: 0 2px;
        padding: 5px;
    }

    .account-form input,
    .create-account-btn {
        padding: 5px;
    }

    .file-input-text {
        padding: 10px;
    }

    .file-input-label {
        padding: 10px;
    }
}
